<p style="color: green"><%= notice %></p>
<main>
  <header>
    <div class="tb">
      <div class="td" id="i-links">
        <div class="tb">
          <div class="td">
            <span class='btn btn-secondary'><%= button_to 'Logout', logout_path, method: :delete %></span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="profile-upper">
    <div id="profile-banner-image">
      <img src="" alt="Banner image">
    </div>
    <div id="profile-d">
      <div id="profile-pic">
        <img src="/profilepicture.jpg">
      </div>
      <div id="u-name"><%= @user.name %></div>
    </div>
    <div id="black-grd"></div>
  </div>
  <div id="main-content">
    <div class="tb">
      <div class="td" id="l-col">
        <div class="l-cnt">
          <div class="cnt-label">
            <i class="l-i" id="l-i-i"> </i>
          </div>
          <div id="i-box">
            <div id="intro-line">hi</div>
          </div>
        </div>
      </div>
      <div class="td" id="m-col">
        <div class="m-mrg" id="composer">
          <div id="c-tabs-cvr">
            <div class="tb" id="c-tabs">
              <div class="td active"><class="material-icons"><span> <%= link_to "Create new post", new_micropost_path%> </span></div>
            </div>
          </div>
          <div id="c-c-main">
            <div class="tb">
              <div class="td" id="c-inp">
                <input type="text" placeholder="">
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="post">            
            <div>
              <%  @user.microposts.each do |post|  %>
                  <p>
                    <br>
                    <%= post.created_at %>
                    <br>
                    <%=post.content %>
                    <%= button_to 'Delete post', micropost_path(post), method: :delete %>
                  </p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="td" id="r-col">
        <div id="chat-bar">
          <div id="chat-lb"><i class="material-icons"></i><span>Friends</span></div>
          <div id="cts">
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
            </div>
            <div class="on-ct">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
            </div>
            <div class="on-ct active">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct">
              <a href="#"><img src="https://imagizer.imageshack.com/img924/4231/JnFicn.jpg"></a>
            </div>
            <div class="on-ct">
              <a href="#"><img src="https://imagizer.imageshack.com/img923/332/1abR4H.png"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>